---
import List from '~/components/List.astro';
import Swiper from '~/components/Swiper.astro';
import Table from '~/components/Table.astro';
import Headline from '~/components/ui/Headline.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'MPU6050 6-Axis Accelerometer and Gyroscope Sensor',
  subtitle: 'High-Precision Motion Tracking and Inertia Measurement',
};

const images = ['/images/MPU6050-1.jpg', '/images/MPU6050-2.jpg', '/images/MPU6050-3.jpg'];

const introduction = `The MPU6050 combines a 3-axis accelerometer and 3-axis gyroscope, offering six degrees of freedom for motion sensing. Ideal for drones, robotics, and wearables, it features an integrated Digital Motion Processor (DMP) to handle complex calculations efficiently.`;

const featureList = [
  '6 DoF: Accelerometer + Gyroscope',
  'Chip built-in 16bit AD converter, 16-bit data output',
  'Built-in DMP for motion tracking',
  'Range: ±2g to ±16g (accelerometer), ±250°/sec to ±2000°/sec (gyroscope)',
  'Digital-output temperature sensor',
];

const specifications = [
  { label: 'Supply Voltage', value: '3V - 5V' },
  { label: 'Communication', value: 'I2C' },
  { label: 'Temperature Range', value: ' -40°C to +85°C' },
];

const references = [
  {
    label: 'MPU6050 Datasheet',
    link: 'https://invensense.tdk.com/wp-content/uploads/2015/02/MPU-6000-Datasheet1.pdf',
  },
  {
    label: 'Getting Started Guide',
    link: 'https://invensense.tdk.com/wp-content/uploads/2015/02/MPU-6000-Datasheet1.pdf',
  },
  {
    label: 'MPU6050 Library',
    link: 'https://invensense.tdk.com/wp-content/uploads/2015/02/MPU-6000-Datasheet1.pdf',
  },
];
const applicationList = ['Drones', 'Wearables', 'Motion capture'];
---

<Layout metadata={metadata}>
  <div class="py-16 max-w-5xl mx-auto">
    <Headline title={metadata.title} subtitle={metadata.subtitle} />
    <Swiper images={images} />

    <div class="py-10 gap-20">
      <p class="">{introduction}</p>

      <List title="Key Features" list={featureList} />
      <List title="Applications" list={applicationList} />

      <Table title="Specifications" data={specifications} />
      <Table title="Documents & Resources" data={references} />
    </div>
  </div>
</Layout>
