---
import List from '~/components/List.astro';
import Swiper from '~/components/Swiper.astro';
import Table from '~/components/Table.astro';
import Headline from '~/components/ui/Headline.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'APDS9960 Gesture, Proximity, Light, and Color Sensor',
  subtitle: 'All-in-One Optical Sensor',
};

const images = ['/images/APDS9960-1.jpg', '/images/APDS9960-2.jpg', '/images/APDS9960-3.jpg'];

const introduction = `The APDS9960 is a versatile optical sensor that can detect gestures, measure proximity, ambient light, and RGB colors. It’s commonly used in gesture-based control systems and devices requiring environmental light sensing.`;

const featureList = ['Gesture recognition', 'Proximity detection', 'Ambient light and color sensing (RGB)'];

const specifications = [
  { label: 'Supply Voltage', value: '2.4V - 3.6V' },
  { label: 'Communication', value: 'I2C' },
  { label: 'Detection Range', value: ' 0 - 100mm (proximity)' },
];

const references = [
  {
    label: 'APDS9960 Datasheet',
    link: 'https://invensense.tdk.com/wp-content/uploads/2015/02/MPU-6000-Datasheet1.pdf',
  },
  {
    label: 'Proximity Sensor Guide',
    link: 'https://invensense.tdk.com/wp-content/uploads/2015/02/MPU-6000-Datasheet1.pdf',
  },
  {
    label: 'Gesture Control Library',
    link: 'https://invensense.tdk.com/wp-content/uploads/2015/02/MPU-6000-Datasheet1.pdf',
  },
];
const applicationList = ['Gesture-based control', 'Ambient light detection', 'Color detection in displays    '];
---

<Layout metadata={metadata}>
  <div class="py-8 max-w-5xl mx-auto px-8">
    <Headline title={metadata.title} subtitle={metadata.subtitle} />
    <Swiper images={images} />

    <div class="py-10 gap-20">
      <p class="">{introduction}</p>

      <List title="Key Features" list={featureList} />
      <List title="Applications" list={applicationList} />

      <Table title="Specifications" data={specifications} />
      <Table title="Documents & Resources" data={references} />
    </div>
  </div>
</Layout>
